{% extends './common/base.html' %}
{% load static %}
<!-- {% load widget_tweaks %} -->
{% block content %}
<section class="py-5">
    <div class="container text-center py-5">
        <div class="container bg-dark py-5">
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold" style="color: var(--bs-green);">Your CV Details</h2>
                    </br>
                    <h3 class="fw-bold" style="color: var(--bs-green);">Information</h3>
                    <a href="{% url 'addprofile' %}">
                        <button class="btn btn-primary btn-sm" type="button" >Add New</button>
                    </a>
                </div>
            </div>
            {% if profiledata.count == 0 %}
            <div class="py-5 p-lg-5"> 
                <div class="row row-cols-1 row-cols-md-8 mx-auto" style="max-width: 1200px;" >
                    <div class="col mb-5">
                        <div class="card shadow-sm">
                            <div class="card-body px-4 py-5 px-md-5">
                                <h2 class="fw-bold text-center card-title" placeholder="Name">No Data Present!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            {% for i in profiledata %}
            <div class="py-5 p-lg-5"> 
                <div class="row row-cols-1 row-cols-md-8 mx-auto" style="max-width: 1200px;" >
                    <div class="col mb-5">
                        <div class="card shadow-sm">
                            <div class="card-body px-4 py-5 px-md-5">
                                <img class="img-fluid" src="{% static 'img/newimg-removebg-preview.png' %}" style="width: 250px;height: 250px;">
                                <br>
                                <p class="fw-bold text-center card-title" placeholder="Name"> {{i.name}} </p>
                                <p class="fw-bold text-center card-title" placeholder="Phone Number">{{i.phoneno}}</p>
                                <p class="fw-bold text-center card-title" placeholder="Email"> {{i.email}}</p>
                                <a href="{% url 'delete' i.id %}">
                                    <button class="btn btn-primary btn-sm" type="button" >Delete</button>
                                </a>
                                <a href="{% url 'update' i.id %}">
                                    <button class="btn btn-primary btn-sm" type="button" >Update</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h3 class="fw-bold" style="color: var(--bs-green);">Education</h3>
                    <a href="{% url 'addeDU' %}">
                        <button class="btn btn-primary btn-sm" type="button" >Add New</button>
                    </a>
                </div>
            </div>
            {% if edudata.count == 0 %}
            <div class="py-5 p-lg-5"> 
                <div class="row row-cols-1 row-cols-md-8 mx-auto" style="max-width: 1200px;" >
                    <div class="col mb-5">
                        <div class="card shadow-sm">
                            <div class="card-body px-4 py-5 px-md-5">
                                <h2 class="fw-bold text-center card-title" placeholder="Name">No Data Present!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            {% for i in edudata %}
            <div class="py-5 p-lg-5"> 
                <div class="row row-cols-1 row-cols-md-8 mx-auto" style="max-width: 1200px;" >
                    <div class="col mb-5">
                        <div class="card shadow-sm">
                            <div class="card-body px-4 py-5 px-md-5">
                                <img class="img-fluid" src="{% static 'img/newimg-removebg-preview.png' %}" style="width: 250px;height: 250px;">
                                <br>
                                <p class="fw-bold text-center card-title" placeholder="Name"> {{i.university}} </p>
                                <p class="fw-bold text-center card-title" placeholder="Phone Number">{{i.degree}}</p>
                                <p class="fw-bold text-center card-title" placeholder="Email"> {{i.stream}}</p>
                                <a href="{% url 'deleteEDU' i.id %}">
                                    <button class="btn btn-primary btn-sm" type="button" >Delete</button>
                                </a>
                                <a href="{% url 'updateEDU' i.id %}">
                                    <button class="btn btn-primary btn-sm" type="button" >Update</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h3 class="fw-bold" style="color: var(--bs-green);">Work Experience</h3>
                    <a href="{% url 'addWork' %}">
                        <button class="btn btn-primary btn-sm" type="button" >Add New</button>
                    </a>
                </div>
            </div>
            {% if workdata.count == 0 %}
            <div class="py-5 p-lg-5"> 
                <div class="row row-cols-1 row-cols-md-8 mx-auto" style="max-width: 1200px;" >
                    <div class="col mb-5">
                        <div class="card shadow-sm">
                            <div class="card-body px-4 py-5 px-md-5">
                                <h2 class="fw-bold text-center card-title" placeholder="Name">No Data Present!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            {% for i in workdata %}
            <div class="py-5 p-lg-5"> 
                <div class="row row-cols-1 row-cols-md-8 mx-auto" style="max-width: 1200px;" >
                    <div class="col mb-5">
                        <div class="card shadow-sm">
                            <div class="card-body px-4 py-5 px-md-5">
                                <img class="img-fluid" src="{% static 'img/newimg-removebg-preview.png' %}" style="width: 250px;height: 250px;">
                                <br>
                                <p class="fw-bold text-center card-title" placeholder="Name"> {{i.jobTitle}} </p>
                                <p class="fw-bold text-center card-title" placeholder="Phone Number">{{i.jobDescription}}</p>
                                <a href="{% url 'deleteWork' i.id %}">
                                    <button class="btn btn-primary btn-sm" type="button" >Delete</button>
                                </a>
                                <a href="{% url 'updateWork' i.id %}">
                                    <button class="btn btn-primary btn-sm" type="button" >Update</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h3 class="fw-bold" style="color: var(--bs-green);">Projects</h3>
                    <a href="{% url 'addproj' %}">
                        <button class="btn btn-primary btn-sm" type="button" >Add New</button>
                    </a>
                </div>
            </div>
            {% if projdata.count == 0 %}
            <div class="py-5 p-lg-5"> 
                <div class="row row-cols-1 row-cols-md-8 mx-auto" style="max-width: 1200px;" >
                    <div class="col mb-5">
                        <div class="card shadow-sm">
                            <div class="card-body px-4 py-5 px-md-5">
                                <h2 class="fw-bold text-center card-title" placeholder="Name">No Data Present!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            {% for i in projdata %}
            <div class="py-5 p-lg-5"> 
                <div class="row row-cols-1 row-cols-md-8 mx-auto" style="max-width: 1200px;" >
                    <div class="col mb-5">
                        <div class="card shadow-sm">
                            <div class="card-body px-4 py-5 px-md-5">
                                <img class="img-fluid" src="{% static 'img/newimg-removebg-preview.png' %}" style="width: 250px;height: 250px;">
                                <br>
                                <p class="fw-bold text-center card-title" placeholder="Name"> {{i.projectTitle}} </p>
                                <p class="fw-bold text-center card-title" placeholder="Phone Number">{{i.projectDescription}}</p>
                                <a href="{% url 'deleteproj' i.id %}">
                                    <button class="btn btn-primary btn-sm" type="button" >Delete</button>
                                </a>
                                <a href="{% url 'updateproj' i.id %}">
                                    <button class="btn btn-primary btn-sm" type="button" >Update</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h3 class="fw-bold" style="color: var(--bs-green);">Skills</h3>
                    <a href="{% url 'addskill' %}">
                        <button class="btn btn-primary btn-sm" type="button" >Add New</button>
                    </a>
                </div>
            </div>
            {% if skilldata.count == 0 %}
            <div class="py-5 p-lg-5"> 
                <div class="row row-cols-1 row-cols-md-8 mx-auto" style="max-width: 1200px;" >
                    <div class="col mb-5">
                        <div class="card shadow-sm">
                            <div class="card-body px-4 py-5 px-md-5">
                                <h2 class="fw-bold text-center card-title" placeholder="Name">No Data Present!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            {% for i in skilldata %}
            <div class="py-5 p-lg-5"> 
                <div class="row row-cols-1 row-cols-md-8 mx-auto" style="max-width: 1200px;" >
                    <div class="col mb-5">
                        <div class="card shadow-sm">
                            <div class="card-body px-4 py-5 px-md-5">
                                <img class="img-fluid" src="{% static 'img/newimg-removebg-preview.png' %}" style="width: 250px;height: 250px;">
                                <br>
                                <p class="fw-bold text-center card-title" placeholder="Name"> {{i.skill}} </p>
                                <a href="{% url 'deleteskill' i.id %}">
                                    <button class="btn btn-primary btn-sm" type="button" >Delete</button>
                                </a>
                                <a href="{% url 'updateskill' i.id %}">
                                    <button class="btn btn-primary btn-sm" type="button" >Update</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}